<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging System login</title>

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
</head>
<body>
	<div class="ui three column grid">
		<div class="five wide column"></div>
		<div style="margin-top:200px" class="six wide column">
			<div class="text">
				<h2>Messaging System - INF226</h2>
			</div>
			<form class="ui form" style="margin-top:50px" method="POST">
				<div class="field">
					<label>Username</label>
					<input type="text" name="username" placeholder="Username">
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" name="password" placeholder="Password">
				</div>
				<button class="ui button" type="submit">Log In</button>
				</form>
				</div>
			<div class="five wide column"></div>
	</div>

</body>
</html>
